* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: rgba(9, 9, 30, 0.744);
}

header h1 {
    font-size: 45px;
    padding: 7px 10px 7px 60px;
    color: rgba(9, 9, 30, 0.744);
    background-color: rgba(161, 229, 222, 0.935);
}

.header ul {
    display: flex;
    justify-content: space-between;
}

.header a {
    font-size: 20px;
    color: rgba(161, 229, 222, 0.935);
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    border-bottom: 4px solid rgba(161, 229, 222, 0.935);
}

#image-1 {
    display: flex;
    flex-wrap: wrap;
}

#background {
    display: flex;
    height: 180px;
    width: 100%;
    position: relative;
}

#photo {
    display: flex;
    padding:3px;
    height: 180px;
    border-radius: 20px;
    background-color: rgba(161, 229, 222, 0.935);
    position: absolute;
    right: 82%;
}

#p-image1 {
    display: flex;
    padding:10px;
    font-size: 30px;
    color: rgba(9, 9, 30, 0.744);
    background-color: rgba(161, 229, 222, 0.935);
    position: absolute;
    right: 70px;
    top: 30%;
}

#about-me, #work, #contact-me {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-color: rgb(237, 242, 245);
}

#aside-about, #aside-work, #aside-contact {
    flex: 20%;
    padding: 10px 20px 10px 20px;
    border-right: 3px solid rgb(60, 109, 140);
    text-align: right;
    background-color: rgb(237, 242, 245);
    font-size: 45px;
    color: rgb(60, 109, 140)
}

#section-about, .container {
    flex: 80%;
    background-color: rgb(237, 242, 245);
    padding: 10px 20px 10px 20px;
    text-align: justify;
    line-height: 1.5;
    font-size: 15px;
    color: rgb(127, 143, 153)
}

.p-about {
    margin-bottom: 20px;
}

.container {
    display: grid;
    row-gap: 20px;
    column-gap: 20px;
    background-color: rgb(237, 242, 245);
}

.item {
    position: relative;
}

.img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    padding: 5px;
    background-color: rgba(161, 229, 222, 0.935);
}

.title {
    position: absolute;
    width: 215px;
    left: 0;
    bottom: 60px;
    font-size: 23px;
    padding: 10px;
    color: rgba(9, 9, 30, 0.744);
    background-color: rgba(161, 229, 222, 0.935);
}

.parag {
    position: absolute;
    width: 215px;
    left: 0;
    bottom: 28px;
    font-size: 18px;
    padding: 4px 10px 10px 10px;
    color: rgba(9, 9, 30, 0.744);
    background-color: rgba(161, 229, 222, 0.935);
}

.item:nth-child(1) {
    grid-column-start: span 2;
}

#section-contact {
    flex: 80%;
    background-color: rgb(237, 242, 245);
    padding: 60px;
    text-align: center;
}

.contact {
    display: inline-block;
    font-size: 20px;
    color: rgb(60, 109, 140);
    padding: 5px 20px 5px 20px;
    margin: 5px;
    text-decoration: none;
    border-bottom: 4px solid rgb(60, 109, 140);
}


@media screen and (max-width: 768px) {
    header,
    figure,
    section {
      flex-direction: column;
    }

    .item {
        grid-template-columns: repeat(1);
    }
  
  }